<% provide(:title, "ユーザ一覧") %>
<h1>ユーザ一覧</h1>

<% if flash[:notice] %>
  <div class="alert alert-info" role="alert"><%= flash[:notice] %></div>
<% end %>

<div class="csv_holder">
<%= will_paginate %>
<%= form_tag import_users_path, multipart: true do  %>
  <div class="search_item">
    <%= submit_tag 'ファイル選択', class: %i(csv_input_btn), type: 'button', onclick: "$('#file_input').click();" %>
    <%= text_field_tag 'filename',"", id: "filename", disabled: true %>
    <%= file_field_tag :file, id: "file_input", style: "display: none;", onchange: "file_selected($(this));" %>
  </div>
  <div>
    <%= submit_tag "CSVインポート", class: "btn btn-primary" %>
  </div>
<% end %>
</div>

<script type="text/javascript">
  function file_selected(file_field){
    var filename = $(file_field)[0].files[0].name;
    $("#filename").val(filename);
  }
</script>
   
<% @users.each do |user| %>
  <div>
    <p>
      <div class="col-md-11 col-md-offset-1">
        <% if current_user.admin? && !current_user?(user) %>
          <%= user.name %><br>
          <%= link_to "削除", user, method: :delete,
                                    data: { confirm: "削除してもよろしいですか？" },
                                    class: "btn btn-primary btn-default" %><br>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <button type="button" data-toggle="collapse" data-target="#collapse<%= user.id %>" class="btn btn-primary btn-lg">編集</button>
                </h4>
              </div>
              <div id="collapse<%= user.id %>" class="panel-collapse collapse">
                <div class="panel-body"><%= render 'user', { user: user } %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </p>
  </div>
<% end %>
<%= will_paginate %>