<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <%= link_to "←", user_path(date: @first_day.prev_month), 
                         class: 'btn btn-default btn-primary' %>
        &emsp;<%= l(@first_day, format: :middle) %>&emsp;時間管理表&emsp;
        <%= link_to "→", user_path(date: @first_day.next_month),
                         class: 'btn btn-default btn-primary' %>
      </td>
      <td>
        指定勤務開始時間&emsp;<%= format_basic_info(@user.designated_work_start_time) %><br>
        指定勤務終了時間&emsp;<%= format_basic_info(@user.designated_work_end_time) %>
      </td>
      <td colspan = "3">基本時間&emsp;<%= format_basic_info(@user.basic_work_time) %></td>
      <td>初日<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属&emsp;<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>氏名&emsp;<%= @user.name %></td>
      <td>コード</td>
      <td><%= @user.uid %></td>
      <td>出勤日数<%= @worked_sum %>日</td>
      <td>締め<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
  
    <% if current_user.superior? %> 
      <div>
        <% if @month_notices !=0 %>
          <%= link_to "【 所属長承認申請のお知らせ 】", show_month_reply_user_path(@user), remote: true, :style=>"color:red;" %>
            <div class="superior"><%= @month_notices %>件の通知があります</div>
          <% else %>
            <%= "【 所属長承認申請のお知らせ 】" %> 
          <% end %>
      </div>
      <div>
        <% if @change_notices !=0 %>
          <%= link_to "【 勤怠変更申請のお知らせ 】", edit_month_reply_user_attendances_path(@user), remote: true, :style=>"color:red;" %>
            <div class="superior"><%= @change_notices %>件の通知があります</div>
          <% else %>
            <%= "【 勤怠変更申請のお知らせ 】" %> 
          <% end %>
      </div>
      <div>
        <% if @overwork_notices !=0 %>
          <%= link_to "【 残業申請のお知らせ 】", edit_overtime_reply_user_attendances_path(@user), remote: true, :style=>"color:red;" %>
            <div class="superior"><%= @overwork_notices %>件の通知があります</div>
        <% else %>
          <%= "【 残業申請のお知らせ 】" %>
        <% end %>  
      </div>
    <% end %>



  <div class="btn-user-edit">
    <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
  
    <%= link_to "CSV出力", user_path(@user, date: @first_day, format: :csv), class: "btn btn-primary" %>
  </div>

  <div class="btn-user-edit">
    <%= link_to "勤怠修正ログ（承認済）", approved_user_attendances_path(@user), class: "btn btn-default btn-primary" %>
  </div>



<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="2"></th>
        <th rowspan ="3">日付</th>
        <th rowspan ="3">曜日</th>
        <th colspan="8">【実績】</th>
        <th colspan="5">所定外勤務</th>
      </tr>
      <tr>
        <th colspan="3">出社</th>
        <th colspan="3">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外時間</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2">指示者確認㊞</th>
      </tr>
      <tr>
        <th>残業申請</th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    
    
    
    
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td>
            <%= link_to "残業申請", edit_overtime_request_user_attendance_path(@user, day), remote: true, class: "btn btn-sm btn-primary" %>
              <div id="#" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          </td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td>
            <% if day.worked_on.wday == 6 %>
              <font color="Blue"><%= $days_of_the_week[day.worked_on.wday] %></font>
            <% elsif day.worked_on.wday == 0 %>
               <font color="Red"><%= $days_of_the_week[day.worked_on.wday] %></font>
            <% else %>
              <%= $days_of_the_week[day.worked_on.wday] %>
            <% end %>
          </td>
          <td><%= format_hour(day.started_at) if day.started_at.present? %></td>
          <td><%= format_min(day.started_at) if day.started_at.present? %></td>
          <td>
            <% if day.started_at.nil? && (Date.current == day.worked_on) %>
              <%= link_to "出社", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td><%= format_hour(day.finished_at) if day.finished_at.present? %></td>
          <td><%= format_min(day.finished_at) if day.finished_at.present? %></td>
          <td>
            <% if day.started_at.present? && day.finished_at.nil? && (Date.current == day.worked_on) %>
              <%= link_to "退社", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = company_time(day.started_at.floor_to(60*15), day.finished_at.floor_to(60*15), day.day_after) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td><%= format_hour(day.scheduled_end_time) if day.scheduled_end_time.present? %></td>
          <td><%= format_min(day.scheduled_end_time) if day.scheduled_end_time.present? %></td>
          <td>
            <% if @user.designated_work_end_time.present? && day.scheduled_end_time.present? %>
              <%= overtime_request(day.scheduled_end_time, @user.designated_work_end_time, day.next_day, day.started_at) %>
            <% end %>
          </td>
          <td><%= day.business_outline %></td>
          <td>
            <% if day.status == "申請中" %>
              <%= day.confirmation %>へ残業<%= day.status %> 
            <% elsif day.status == "承認" %>
              残業<%= day.status %>済 
            <% elsif day.status == "否認" %>
              残業<%= day.status %> 
            <% end %>
            
            <% if day.change_status == "申請中" %>
              <%= day.change_confirmation %>へ勤怠編集<%= day.change_status %> 
            <% elsif day.change_status == "承認" %>
              勤怠編集<%= day.change_status %>済 
            <% elsif day.change_status == "否認" %>
              勤怠編集<%= day.change_status %> 
            <% end %>
          </td>
          </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td></td>
        <td colspan="2"></td>
        <td colspan="6"></td>
        <td><%= format("%.2f", @total_working_times.to_f) %></td>
        <td colspan="5"></td>
        <td>
          <% if @month_confirmation.month_status == "申請中" %>
            <div class="show_month">所属長承認 申請中</div>
          <% elsif @month_confirmation.month_status == "承認" %>
            <div class="show_month">所属長承認 <%= @month_confirmation.month_confirmation %>から<%= @month_confirmation.month_status %>済</div>
          <% elsif @month_confirmation.month_status == "否認" %>
            <div class="show_month">所属長承認 <%= @month_confirmation.month_status %></div>
          <% else %>
            <div class="show_month">所属長承認 未</div>
          <% end %>
          
          <%= form_with(model: @user, url: update_show_user_path(@user), local: true, method: :post) do |f| %>
            <%= f.hidden_field :first_day, :value => @first_day %>
            <%= f.collection_select :month_confirmation, @superiors, :name, :name, {include_blank: true}, {class: "form-control"} %><br>
            <%= f.submit "申 請", class: "btn btn-lg btn-primary" %>
          <% end %>
        </td>
      </tr>
    </tfoot>    
  </table>
</div>

<!--残業申請モーダルウインドウ表示-->
<div id="edit-overtime-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!--上長宛て残業申請モーダルウインドウ表示-->
<div id="edit-overtime-reply" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!--上長宛て勤怠変更申請モーダルウインドウ表示-->
<div id="edit-month-reply" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!--上長宛て1ヶ月勤怠承認モーダルウインドウ表示-->
<div id="show-month-reply" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>